<%- include('../Common/header',{
    CSSList:['/resource/css/reset.css','/resource/css/index.css']
}) %>
<div id="wrapper"></div>
<%- include('../Common/footer',{
    JSList:[
        '/resource/js/build/common.js',
        '/resource/js/build/index_react.js'
    ]
}) %>