$color_list : green green green green orange orange orange orange;
$red : red;
$gray_lite : #e0e0e0;

body{
  font-family: Microsoft YaHei,Arial,SimSun,Tahoma;
  font-size: 14px;
}
.hd,.info{
  margin: 0 0 10px;
  padding: 0 10px;
}
.hd{
  border-bottom: 1px solid $gray_lite;
}
.hd{
  .site-name{
    float: right;
    color: #000;
    @for $i from 1 through 8 {
      span:nth-child(#{$i}){ color: nth($color_list,$i); }
    }
  }
}
.wrapper{
  margin: 5px 10px 0;
}
.login-box{
  div{
    margin: 15px auto;
  }
  input{
    padding: 2px;
  }
}
.register-box{
  div{
    margin: 15px auto;
  }
  input{
    padding: 2px;
  }
}
button{
  padding: 3px;
}
#warn-line,#email-used{
  color: $red;
}