<%- include('../Common/header',{
    CSSList:[
        '/resource/css/reset.css',
        '/resource/css/admin_index.css'
    ]
}) %>
<div id="wrapper"></div>
<%- include('../Common/footer',{
    JSList:[
        '/resource/js/lib/jquery-2.1.4.min.js',
        '/resource/js/lib/react.js',
        '/resource/js/lib/moment.js',
        '/resource/js/build/admin_index_react.js'
    ]
}) %>