<%- include('../Common/header',{
    CSSList:[
        '/resource/css/reset.css',
        '/resource/css/admin_index.css'
    ]
}) %>
<div id="wrapper"></div>
<%- include('../Common/footer',{
    JSList:[
        '/resource/js/vendor/jquery.js',
        '/resource/js/vendor/react.min.js',
        '/resource/js/vendor/moment.js',
        '/resource/js/build/admin_react.js'
    ]
}) %>