<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="http://s1.qhimg.com/!67d556ec/css_reset.css"/>
    <link rel="stylesheet" href="/resource/css/list.css"/>
    <link href="http://s3.qhimg.com/static/db53b39940f4ae12.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
<div class="hd cf">
    <div class="user-status">
        <% if(locals.islogin){ %>
        <a href="/"><%= locals.name %></a>
        <a href="/home/index/logout">退出</a>
        <% }else{ %>
        <a href="/home/index/login">登录</a>
        <a href="/home/index/register">注册</a>
        <% } %>
        <a class="site-name" href="/">
            <span id="last-update"></span>
            <span>List 测试版</span>
        </a>
    </div>
</div>
<% if(locals.info){ %>
<div class="warning-info">
    <%= info %>
</div>
<% } %>